.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 30px; /* Memberikan padding kanan dan kiri untuk memberi ruang pada isi navbar */
    height: 70px;
    z-index: 100;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.09); /* Menambahkan bayangan */
    position: fixed; /* Membuat navbar tetap di atas saat scroll */
    top: 0; /* Menempel di bagian atas */
    left: 0; /* Menempel di sisi kiri */
    width: 100%; /* Memastikan navbar lebarnya 100% */
    background-color: #ffffff; /* Background putih agar navbar tetap jelas terlihat */
  }

.logo-container {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-grow: 1;
  margin-left: 60px;
}

.logo{
  display: flex;
  align-items: center;
  padding-left: 40px;
}

.logo img {
  width: 50px;
  height: auto;
  margin-top: 0px;
}

.logo h1 {
    font-size: 1rem;
    font-weight: bold;
    white-space: nowrap;
    line-height: 1.2;
    margin-top: 0px;
}
.nav-links {
  list-style: none;
  display: flex;
  gap: 50px;
  margin-top: 0px;
}

.nav-links li {
  display: inline;
}

.nav-links a {
  color: #007bff;
  text-decoration: none;
  font-weight: bold;
}

.login-button {
    padding-right: 40px;
}

.login-button button {
  background-color: #004993;
  color: #ffffff;
  border: none;
  padding: 6px 18px;
  cursor: pointer;
  font-weight: bold;
  border-radius: 20px;
  font-size: 14px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  margin-top: 0px;
}
.nav-links a:hover {
  color: #ffa500; /* Warna berubah menjadi oranye saat hover */
  transition: color 0.3s ease-in-out;
}

.login-button button:hover {
  background-color: #ffa500; /* Tombol login berubah warna menjadi oranye */
  transition: background-color 0.3s ease-in-out;
}
