.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2px 10px;
  height: 40px;
  z-index: 100;
}

.logo-container {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-grow: 1;
  margin-left: 60px;
}

.logo{
  display: flex;
  align-items: center;
}

.logo img {
  width: 50px;
  height: auto;
  margin-top: 20px;
}

.logo h1 {
    font-size: 1rem;
    font-weight: bold;
    white-space: nowrap;
    line-height: 1.2;
    margin-top: 30px;
}
.nav-links {
  list-style: none;
  display: flex;
  gap: 50px;
  margin-top: 40px;
}

.nav-links li {
  display: inline;
}

.nav-links a {
  color: #007bff;
  text-decoration: none;
  font-weight: bold;
}

.login-button button {
  background-color: #004993;
  color: #ffffff;
  border: none;
  padding: 6px 18px;
  cursor: pointer;
  font-weight: bold;
  border-radius: 20px;
  font-size: 14px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  margin-top: 20px;
}
.nav-links a:hover {
  color: #ffa500; /* Warna berubah menjadi oranye saat hover */
  transition: color 0.3s ease-in-out;
}

.login-button button:hover {
  background-color: #ffa500; /* Tombol login berubah warna menjadi oranye */
  transition: background-color 0.3s ease-in-out;
}
