.Navbar2 {
    background-color: #004080;
    color: white;
    padding: 15px;
  }
  
  .Navbar2-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .logout-button {
    background-color: red;
    color: white;
    border: none;
    padding: 10px 15px;
    cursor: pointer;
  }
  